{% extends "base.html" %}

{% block title %}Lista de Pedidos{% endblock %}

{% block content %}
<h1>Lista de Pedidos</h1>

<table>
    <thead>
        <tr>
            <th>Número</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido.numero }}</td>
            <td>{{ pedido.cliente.nombre }}</td>
            <td>{{ pedido.fecha }}</td>
            <td>{{ pedido.estado }}</td>
            <td>{{ pedido.total_pedido_con_impuestos }}</td>
            <td>
                <a href="{% url 'detalle_pedido' pedido.numero %}">Ver Detalle</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No hay pedidos disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
