{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1>Bienvenido a FacturaciónApp</h1>
<p>Selecciona una opción del menú para continuar:</p>
<ul>
    <li><a href="{% url 'historial_facturas' %}">Historial de Facturas</a></li>
    <li><a href="{% url 'listar_pedidos' %}">Ver Pedidos</a></li>
    {% for factura in facturas %}
        <li><a href="{% url 'generar_factura_pdf' factura.numero %}">Descargar PDF de la Factura {{ factura.numero }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
